<div id='container'>
<!-- Your code here -->
    <div class='navigation'>
    <ul>
      <li><a href='#/links' class='link'>All Links</a></li>
      <li><a href='#/shorten' class='shorten'>Shorten</a></li>
      <li><a href='' class='logout' ng-click='signout()'>Log Out</a></li>
    </ul>
    </div>

  <form name="shortenForm" ng-submit='addLink()' >
    <input class="inputURL" name='inputURL' type='text' ng-model="link.url" ng-pattern="reg" placeholder="Enter URL" >
    <div class='buttonDiv'>
      <button class="submitButton">Submit URL</button>
    </div>
    <div ng-show="shortenForm.inputURL.$invalid" >Please enter a valid URL beginning with "http://"</div>
  </form>

</div>


